<table class="ui very basic unstackable table">
  <thead>
  <tr>
    <th class="six wide"></th>
    <th class="ten wide"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="right aligned">Lesson Category</td>
    <td><%= @lesson.lesson_taxon.name %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:title) %></td>
    <td><%= @lesson.title %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:type) %></td>
    <td><%= @lesson.type_i18n %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:description) %></td>
    <td><%= simple_format(@lesson.description) %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:lecturer) %></td>
    <td><%= @lesson.lecturer&.name %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:author) %></td>
    <td><%= @lesson.author&.name %></td>
  </tr>
  <tr>
    <td class="right aligned">Lecturer Desc</td>
    <td><%= simple_format(@lesson.lecturer&.description) %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:meeting_room) %></td>
    <td><%= @lesson.meeting_room %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:next_start_time) %></td>
    <td><%= @lesson.next_start_time %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:next_finish_time) %></td>
    <td><%= @lesson.next_finish_time %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:video) %></td>
    <td>
      <%= link_to @lesson.video.filename, rails_blob_path(@lesson.video, disposition: 'attachment'), target: '_blank' if @lesson.video.attached? %>
    </td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:en_video) %></td>
    <td>
      <%= link_to @lesson.en_video.filename, rails_blob_path(@lesson.en_video), target: '_blank' if @lesson.en_video.attached? %>
    </td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:document) %></td>
    <td>
      <%= link_to @lesson.document.filename, rails_blob_path(@lesson.document), target: '_blank' if @lesson.document.attached? %>
    </td>
  </tr>
  </tbody>
</table>

