<%= render 'nav_lesson' %>

<div class="ui basic segment breadcrumb">
  <%= link_to 'Back', my_lessons_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section"><%= @lesson.title %></div>
</div>

<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="three wide"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned">Lesson Category</td>
      <td><%= @lesson.lesson_taxon.name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Lesson.human_attribute_name(:title) %></td>
      <td><%= @lesson.title %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Lesson.human_attribute_name(:type) %></td>
      <td><%= @lesson.type_i18n %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Lesson.human_attribute_name(:description) %></td>
      <td><%= simple_format(@lesson.description) %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Lesson.human_attribute_name(:lecturer) %></td>
      <td><%= @lesson.lecturer&.name %></td>
    </tr>
    <tr>
      <td class="right aligned">Lecturer Desc: </td>
      <td><%= simple_format(@lesson.lecturer&.description) %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Lesson.human_attribute_name(:meeting_room) %></td>
      <td><%= @lesson.meeting_room %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Lesson.human_attribute_name(:next_start_time) %></td>
      <td><time><%= @lesson.next_start_time.to_s(:rfc822) if @lesson.next_start_time %></time></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Lesson.human_attribute_name(:next_finish_time) %></td>
      <td><time><%= @lesson.next_finish_time.to_s(:rfc822) if @lesson.next_finish_time %></time></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Lesson.human_attribute_name(:video) %></td>
      <td>
        <%= render 'active_storage/attachments/list', target: @lesson.video %>
      </td>
    </tr>
    <tr>
      <td class="right aligned"><%= Lesson.human_attribute_name(:en_video) %></td>
      <td>
        <%= render 'active_storage/attachments/list', target: @lesson.en_video %>
      </td>
    </tr>
    <tr>
      <td class="right aligned"><%= Lesson.human_attribute_name(:document) %></td>
      <td>
        <%= render 'active_storage/attachments/list', target: @lesson.document %>
      </td>
    </tr>
  </tbody>
</table>