<div class="ui top attached borderless menu">
  <div class="header item"><%= Course.enum_i18n(:type, 'Certification') %></div>
</div>

<table class="ui bottom attached selectable table">
  <thead>
  <tr>
    <th><%= CoursePaper.human_attribute_name(:id) %></th>
    <th><%= CoursePaper.human_attribute_name(:title) %></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  
  <tbody>
  <% @exams.each do |exam| %>
    <tr class="active">
      <td><%= exam.id %></td>
      <td><%= exam.course_paper.title %></td>
      <td>
        <i class="linkify icon"></i><%= link_to exam.link, exam.link, target: '_blank' if exam.enabled? %>
      </td>
      <td>
        <p><span class="ui label"><%= exam.state_i18n %></span></p>
        <p><%= exam.answer_mark %></p>
      </td>
      <td class="ui labels">
      
      </td>
    </tr>
  <% end %>
  <% @course_papers.each do |course_paper| %>
    <tr>
      <td><%= course_paper.id %></td>
      <td><%= course_paper.title %></td>
      <td><%= course_paper.type_i18n %></td>
      <td class="ui labels">
        <%# link_to add_my_exams_path(course_paper_id: course_paper.id), method: :post, data: { tooltip: 'Generate Your Exam', turbolinks: false, confirm: 'Please do not refresh!', 'disable-with': 'Generating...' }, class: 'ui blue mini icon button' do %>
          <i class="clock icon"></i>
        <%# end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @course_papers %>


<h3 class="ui header">1st AE and ME Certification Test ----June 2018</h3>
<p>Notice:</p>
<p>
  The results of AE/ME certification test have been announced online already. Please contact your Section Eduing Coordinator within two working days if there are any mistake with your score. The result cannot be changed after 3rd July.
</p>
