<div class="ui top attached borderless menu">
  <div class="header item">Edu Courses</div>
</div>

<%= render 'filter' %>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= Course.human_attribute_name(:id) %></th>
      <th>
        <%= link_to 'New Edu Course', new_edu_course_path, class: 'ui teal button', remote: true %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.id %></td>
      <td>
        <%= link_to edu_course_path(course), data: { tooltip: t('.show') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-info"></i>
        <% end %>
        <%= link_to edit_edu_course_path(course), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to edu_course_path(course), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @courses %>
