<div class="ui segment breadcrumb">
  <% if @exam.lesson %>
    <%= link_to 'Back', my_lesson_exams_path(@exam.lesson_id), class: 'section' %>
  <% end %>
  <div class="divider"> / </div>
  <div class="active section">Show</div>
</div>

<table class="ui very basic large table">
  <thead>
  <tr>
    <th class="active six wide">Question</th>
    <th class="five wide">Your Answer</th>
  </tr>
  </thead>
  <tbody>
  <% @exam.answer_detail.each do |_, detail| %>
    <tr>
      <td class="active">
        <%= detail[0].html_safe %>
        <% Array(detail[2]).each do |o| %>
          <p><%= o %></p>
        <% end %>
      </td>
      <td>
        <%= simple_format detail[1] %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td class="right aligned grey text">Mark</td>
      <td><%= @exam.answer_mark %></td>
    </tr>
    <tr>
      <td class="right aligned grey text">Comment</td>
      <td><%= @exam.comment %></td>
    </tr>
  </tfoot>
</table>
