<%= render 'nav_course' %>

<div class="ui top attached segment">
  <%= render 'search_form' %>
</div>

<div class="ui attached segment">
  <%= link_to 'confirm', check_admin_course_course_students_path(@course), id: 'checked_people', method: 'post', class: 'ui mini green label' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th>
        ID
        <%= check_box_tag :member_all, 1, false, onclick: "toggleAll(this, 'member_id')", id: nil %>
      </th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th>Join Time</th>
      <th>Operate</th>
    </tr>
  </thead>
  <tbody>
  <% @crowds.each do |crowd| %>
  <tr>
    <td>
      <%= crowd.name %>
    </td>
    <td>
      <%= render partial: 'crowd_student', locals: { students: crowd.students } %>
    </td>
    <td></td>
    <td></td>
  </tr>
  <% end %>
  </tbody>
</table>
