<%= render 'nav_course' %>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= Pupil.human_attribute_name(:name) %></th>
      <th><%= CourseStudent.human_attribute_name(:created_at) %></th>
      <th>
        Check
        <%= check_box_tag :course_student_all, nil, false, onclick: "toggleAll(this, 'course_student_id')", id: nil %>
      </th>
      <th><%= CourseStudent.human_attribute_name(:state) %></th>
      <th><%= CourseStudent.human_attribute_name(:score) %></th>
      <th>
        <%= link_to admin_course_course_crowds_path(@course), remote: true, class: 'ui mini primary button' do %>
          <i class="plus icon"></i>
        <% end %>
        <%= link_to find_data_list_table_lists_path('CourseStudentExport', params.permit(:course_id).merge(timestamp: @course.timestamp)), class: 'ui mini blue button', remote: true do %>
          <i class="file excel icon"></i><%= t('.export') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @course_students.each do |course_student| %>
    <tr>
      <td>
        <%= course_student.id %>
      </td>
      <td><%= course_student.student.real_name %></td>
      <td><time><%= course_student.created_at.to_s(:rfc822) %></time></td>
     
      <td>
        <span><%= course_student.state_i18n %></span>
        <% if course_student.request_quit? %>
          <%= link_to 'Approve', quit_admin_course_course_student_path(@course, course_student), method: :patch %>
        <% end %>
        <% if ['request_quit', 'quitted'].include? course_student.state %>
          <span class="grey text">(<%= course_student.quit_note %>)</span>
        <% end %>
      </td>
      <td>
        <%= course_student.score %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @course_students %>
