<%= render 'nav_lesson' %>

<div class="ui basic segment breadcrumb">
  <%= link_to 'Back', train_lessons_path, class: 'section' %>
  <div class="divider"> / </div>
  <%= link_to 'Detail', train_lesson_path(@lesson), class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= form_with model: @lesson, scope: 'lesson', url: train_lesson_path(@lesson), local: true do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>