<%= render 'nav_lesson' %>

<table class="ui very basic large table">
  <thead>
  <tr>
    <th class="three wide"></th>
    <th>
      <%= link_to 'meet', meet_edu_lesson_path(@lesson), class: 'ui mini blue right floated button' %>
      <%= link_to t('.edit'), edit_edu_lesson_path(@lesson), class: 'ui mini blue right floated button' %>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="right aligned">Lesson Category</td>
    <td><%= @lesson.lesson_taxon&.name %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:title) %></td>
    <td><%= @lesson.title %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:type) %></td>
    <td><%= @lesson.type_i18n %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:description) %></td>
    <td><%= simple_format(@lesson.description) %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:limit_people) %></td>
    <td><%= @lesson.limit_people %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:lecturer) %></td>
    <td><%= @lesson.lecturer&.name %></td>
  </tr>
  <tr>
    <td class="right aligned">Lecturer Desc: </td>
    <td><%= simple_format(@lesson.lecturer&.description) %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:video) %></td>
    <td>
      <%= render partial: 'active_storage/attachments/list_edit', locals: { target: @lesson.video } %>
    </td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:en_video) %></td>
    <td>
      <%= render partial: 'active_storage/attachments/list_edit', locals: { target: @lesson.en_video } %>
    </td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:document) %></td>
    <td>
      <%= render 'active_storage/attachments/list_edit', target: @lesson.document %>
    </td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:compulsory) %></td>
    <td>
      <%= form_with model: @lesson, scope: :lesson, url: edu_lesson_path(@lesson), method: :patch, remote: true do |f| %>
        <%= f.check_box :compulsory, onChange: "Rails.fire(this.form, 'submit')", label: false, on: {wrapper_all: false, offset: false} %>
      <% end %>
    </td>
  </tr>
  <% unless @lesson.is_a?(OnlineLesson) %>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:meeting_room) %></td>
    <td><%= @lesson.meeting_room %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:next_start_time) %></td>
    <td><time><%= @lesson.next_start_time.to_s(:rfc822) if @lesson.next_start_time %></time></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:next_finish_time) %></td>
    <td><time><%= @lesson.next_finish_time.to_s(:rfc822) if @lesson.next_finish_time %></time></td>
  </tr>
  <% end %>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:departments) %></td>
    <td class="ui labels">
      <% @lesson.departments.select(:name).each do |department| %>
        <span class="ui label"><%= department.name %></span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:created_at) %></td>
    <td><%= @lesson.created_at.to_s(:rfc822) %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Lesson.human_attribute_name(:updated_at) %></td>
    <td><%= @lesson.updated_at.to_s(:rfc822) %></td>
  </tr>
  </tbody>
</table>
