<div class="ui modal" id="modal">
  <i class="close icon"></i>
  <div class="content">
    <%= form_with model: @course_plan, url: admin_course_crowd_plan_path(@course_crowd, @course_plan) do |f| %>
      <%= render 'shared/error_messages', target: @course_plan %>
      <% if params[:item] == 'lesson' %>
      <%= f.collection_select :lesson_id, @course_crowd.lessons, :id, :title %>
      <% end %>
      <% if params[:item] == 'teacher' %>
        <%= f.collection_members_select :teacher_id, :id, :name, { include_blank: true } %>
      <% end %>
      <% if params[:item] == 'room' %>
        <div class="inline fields">
        <%= f.collection_select :room_id, @rooms, :id, :name, { include_blank: true, on: { wrapper_all: false } } %>
        <%= link_to admin_organ_rooms_path(default_params), data: { tooltip: '教室设置' }, target: '_blank' do %>
          <i class="fas fa-cog"></i>
        <% end %>
        </div>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
