<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_admin_course_plan_path(@course_plan), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= CoursePlan.human_attribute_name(:lesson) %></td>
      <td><%= @course_plan.lesson %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= CoursePlan.human_attribute_name(:booking_on) %></td>
      <td><%= @course_plan.booking_on %></td>
    </tr>
  </tbody>
</table>
