<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('edu.admin.courses.index.title'), admin_courses_path, class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <%= link_to @course_crowd.course.title, admin_course_lessons_path(@course_crowd.course_id), class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <%= link_to @course_crowd.crowd.name, admin_course_course_crowds_path(@course_crowd.course_id), class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <div class="section"><%= t('.title') %></div>
  </div>
<% end %>

<%= render 'menu' %>
<%= render 'filter' %>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= CoursePlan.human_attribute_name(:booking_on) %></th>
      <th><%= CoursePlan.human_attribute_name(:time_item) %></th>
      <th><%= CoursePlan.human_attribute_name(:room) %></th>
      <th><%= CoursePlan.human_attribute_name(:lesson) %></th>
      <th><%= CoursePlan.human_attribute_name(:teacher) %></th>
      <th>
        <%= link_to t('.plan'), plan_admin_course_crowd_plans_path(@course_crowd), class: 'ui mini primary button', remote: true %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @course_plans.each do |course_plan| %>
    <tr>
      <td>
        <%= course_plan.booking_on %>
        <span class="grey text">（<%= course_plan.booking_on.to_s(:week) %>）</span>
      </td>
      <td>
        <span class="ui label"><%= course_plan.time_item.start_at.to_s(:time) %></span>
        <span class="ui label"><%= course_plan.time_item.finish_at.to_s(:time) %></span>
      </td>
      <td><%= course_plan.room&.name %></td>
      <td>
        <% if course_plan.lesson %>
          <%= course_plan.lesson.title %>
        <% else %>
          <%= link_to edit_admin_course_crowd_plan_path(@course_crowd, course_plan), data: { tooltip: '设置课节' }, remote: true, class: 'ui mini circular icon button' do %>
            <i class="fas fa-rss"></i>
          <% end %>
        <% end %>
      </td>
      <td><%= course_plan.teacher&.name %></td>
      <td>
        <%= link_to admin_course_plan_lesson_students_path(course_plan), data: { tooltip: '点名' }, class: 'ui mini circular icon button' do %>
          <i class="users icon"></i>
        <% end %>
        <%= link_to edit_admin_course_crowd_plan_path(@course_crowd, course_plan), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_course_crowd_plan_path(@course_crowd, course_plan), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @course_plans %>
