<div class="content-breadcrumb-section">
  <%= render 'layouts/breadcrumb' %>
</div>

<div class="ui attached segment">
  <%= render 'filter' %>
  <%= render 'right_menu_table_tool'%>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= Crowd.human_attribute_name(:id) %></th>
      <th><%= Crowd.human_attribute_name(:name) %></th>
      <th><%= Crowd.human_attribute_name(:student_type) %></th>
      <th><%= Crowd.human_attribute_name(:crowd_students_count) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @crowds.each do |crowd| %>
    <tr>
      <td><%= crowd.id %></td>
      <td><%= crowd.name %></td>
      <td><%= crowd.student_type_i18n %></td>
      <td><%= crowd.crowd_students_count %></td>
      <td class="ui labels">
        <%= link_to admin_crowd_path(crowd), data: { tooltip: t('.show') }, class: 'ui circular mini icon button', remote: true do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_admin_crowd_path(crowd), data: { tooltip: t('.edit') }, class: 'ui circular mini icon button', remote: true do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to admin_crowd_path(crowd), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui circular mini icon button' do %>
          <i class="trash alternate icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @crowds %>
