<div class="ui modal" id="modal">
  <i class="close icon"></i>
  <div class="content">
    <%= form_with model: @course_crowd, url: admin_course_course_crowd_path(@course, @course_crowd), method: :patch do |f| %>
      <%= render 'shared/error_messages', target: @course_crowd %>
      <% if params[:item] == 'teacher' %>
        <div class="inline fields">
          <%= f.collection_members_select :teacher_id, :id, :name, on: { wrapper_all: false } %>
          <%= link_to admin_department_grants_path('CourseCrowd', 'teacher_id', return_to: request.url), data: { tooltip: '老师部门设置' }, remote: true, target: '_blank' do %>
            <i class="fas fa-cog"></i>
          <% end %>
        </div>
      <% end %>
      <% if params[:item] == 'room' %>
      <%= f.collection_select :room_id, @rooms, :id, :name, { include_blank: true } %>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
