<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('edu.admin.courses.index.title'), admin_courses_path, class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <div class="section"><%= @course.title %></div>
    <i class="fas fa-angle-right divider"></i>
    <div class="section active"><%= t('.title') %></div>
  </div>
<% end %>

<%= render 'nav_course' %>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= CourseCrowd.human_attribute_name(:id) %></th>
      <th><%= Crowd.human_attribute_name(:name) %></th>
      <th><%= CourseCrowd.human_attribute_name(:teacher_id) %></th>
      <th><%= CourseCrowd.human_attribute_name(:students) %></th>
      <th>
        <%= CourseCrowd.human_attribute_name(:room_id) %>
        <%= link_to admin_organ_rooms_path(default_params), data: { tooltip: '教室设置' }, target: '_blank' do %>
          <i class="fas fa-cog"></i>
        <% end %>
      </th>
      <th>
        <%= link_to new_admin_course_course_crowd_path(@course), remote: true, class: 'ui mini primary button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @course_crowds.each do |course_crowd| %>
  <tr>
    <td><%= course_crowd.id %></td>
    <td><%= course_crowd.crowd.name %></td>
    <td>
      <%= link_to edit_admin_course_course_crowd_path(@course, course_crowd, item: 'teacher'), data: { tooltip: '设置老师' }, remote: true, class: 'ui mini circular icon button' do %>
        <i class="green male icon"></i>
      <% end %>
      <%= course_crowd.teacher&.name %>
    </td>
    <td>
      <%= render partial: 'crowd_student', locals: { course_crowd: course_crowd } %>
    </td>
    <td>
      <%= link_to edit_admin_course_course_crowd_path(@course, course_crowd, item: 'room'), data: { tooltip: '设置教室' }, remote: true, class: 'ui mini circular icon button' do %>
        <i class="fas fa-building"></i>
      <% end %>
      <%= course_crowd.room&.name %>
    </td>
    <td>
      <%= link_to '课程安排', admin_course_crowd_plans_path(course_crowd), class: 'ui mini circular icon button' %>
      <%= link_to admin_course_course_crowd_path(@course, course_crowd), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
