<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('edu.admin.courses.index.title'), admin_courses_path, class: 'section' %>
    <i class="right angle icon divider"></i>
    <%= link_to @course_plan.course.title, admin_course_path(@course_plan.course_id), class: 'section' %>
    <i class="right angle icon divider"></i>
    <%= link_to @course_plan.course_crowd.crowd.name, admin_course_course_crowds_path(@course_plan.course_id) %>
    <i class="right angle icon divider"></i>
    <%= link_to t('edu.admin.course_plans.index.title'), admin_course_crowd_plans_path(@course_plan.course_crowd_id), class: 'section' %>
    <i class="right angle icon divider"></i>
    <div class="section"><%= t('edu.admin.lesson_students.index.title') %></div>
  </div>
<% end %>

<%= render 'filter' %>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= LessonStudent.human_attribute_name(:student) %></th>
      <th><%= LessonStudent.human_attribute_name(:state) %></th>
      <th><%= LessonStudent.human_attribute_name(:created_at) %></th>
      <th>
        <%= LessonStudent.human_attribute_name(:attended) %>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @course_students.each do |course_student| %>
    <tr>
      <td><%= course_student.student.real_name %></td>
      <td><%= course_student.state %></td>
      <td><time><%= course_student.created_at.to_s(:rfc822) %></time></td>
      <td>
        <div class="ui toggle checkbox">
          <% if @course_plan.student_ids.include?(course_student.student_id) %>
            <%= check_box_tag :course_student_id, course_student.id, true, data: { method: :delete, remote: true, url: admin_course_plan_lesson_students_path(@course_plan), submit: true }, id: nil %>
          <% else %>
            <%= check_box_tag :course_student_id, course_student.id, false, data: { method: :post, remote: true, url: admin_course_plan_lesson_students_path(@course_plan), submit: true }, id: nil %>
          <% end %>
        </div>
      </td>
      <td>
        <%= link_to edit_admin_course_plan_lesson_student_path(@course_plan, course_student), data: { tooltip: t('.edit') }, class: 'ui mini circular icon button', remote: true do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_course_plan_lesson_student_path(@course_plan, course_student), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @course_students %>
