<%= render 'nav_lessons' %>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
  <tr>
    <th><%= Lesson.human_attribute_name(:id) %></th>
    <th>
      <%= link_to Lesson.human_attribute_name(:title), filter_params('lesson.title-asc': 2, except: ['lesson.title-asc']) %>
    </th>
    <th><%= Lesson.human_attribute_name(:lecturer) %></th>
    <th><%= Lesson.human_attribute_name(:type) %></th>
    <th><%= Lesson.human_attribute_name(:lesson_taxon) %></th>
    <th><%= LessonMember.human_attribute_name(:state) %></th>
  </tr>
  </thead>
  
  <tbody>
  <% @lesson_members.each do |lesson_member| %>
    <tr>
      <td><%= lesson_member.lesson_id %></td>
      <td>
        <%= link_to lesson_member.lesson.title, my_lesson_path(lesson_member.lesson_id) %>
        <span class="<%= active_assert(lesson_member.lesson.compulsory, expected: 'ui green label', unexpected: 'ui label') %>"><%= lesson_member.lesson.compulsory_i18n %></span>
      </td>
      <td><%= lesson_member.lesson.lecturer&.name %></td>
      <td><%= lesson_member.lesson.type_i18n %></td>
      <td><%= lesson_member.lesson.lesson_taxon&.name %></td>
      <td>
        <span class="ui label"><%= lesson_member.state_i18n %></span>
        <% if lesson_member.in_studying? %>
          <%= link_to 'Quit', quit_my_lesson_member_path(lesson_member), remote: true %>
        <% else %>
          <span><%= lesson_member.score %></span>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @lesson_members %>

<div id="lesson_member_modal"></div>