<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_edu_admin_lesson_path(@lesson), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= Lesson.human_attribute_name(:title) %></td>
      <td><%= @lesson.title %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Lesson.human_attribute_name(:videos) %></td>
      <td><%= @lesson.videos %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Lesson.human_attribute_name(:documents) %></td>
      <td><%= @lesson.documents %></td>
    </tr>
  </tbody>
</table>
