<%= render 'nav_course' %>

<div class="ui top attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Office</th>
      <th>
        <p><%= Member.human_attribute_name(:department) %></p>
        <p><%= Member.human_attribute_name(:join_date) %></p>
      </th>
      <th><%= CourseMember.human_attribute_name(:created_at) %></th>
      <th>
        Check
        <%= check_box_tag :course_member_all, nil, false, onclick: "toggleAll(this, 'course_member_id')", id: nil %>
      </th>
      <th><%= CourseMember.human_attribute_name(:state) %></th>
      <th><%= CourseMember.human_attribute_name(:score) %></th>
    </tr>
  </thead>
  <tbody>
  <% @course_members.each do |course_member| %>
    <tr>
      <td>
        <%= course_member.id %>
      </td>
      <td><%= course_member.member.name %></td>
      <td><%= course_member.member.office&.name %></td>
      <td>
        <p><%= course_member.member.department&.full_name %></p>
        <p><%= course_member.member.join_on %></p>
      </td>
      <td><time><%= course_member.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= check_box_tag :course_member_id, course_member.id, course_member.attended, id: nil %>
      </td>
      <td>
        <span><%= course_member.state_i18n %></span>
        <% if course_member.request_quit? %>
          <%= link_to 'Approve', quit_admin_course_course_member_path(@course, course_member), method: :patch %>
        <% end %>
        <% if ['request_quit', 'quitted'].include? course_member.state %>
          <span class="grey text">(<%= course_member.quit_note %>)</span>
        <% end %>
      </td>
      <td>
        <%= course_member.score %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @course_members %>
