<%= search_form_with model: Course.new(params.permit(:title)) do |f| %>
  <div class="fields">
    <%= f.text_field :title %>
    <%= f.submit %>
    <%= link_to t('.clear'), filter_params(except: [:title]), class: 'ui button' %>
  </div>
<% end %>
<div class="ui divider"></div>
<dl>
  <dt><%= Course.human_attribute_name(:type) %></dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:type]), class: active_params(type: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% Course.options_i18n(:type).each do |text, type| %>
      <%= link_to text, filter_params(type: type), class: active_params(type: type, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
  </dd>
</dl>
<dl>
  <dt><%= link_to Course.human_attribute_name(:course_taxon_id), admin_course_taxons_path %></dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:course_taxon_id]), class: active_params(course_taxon_id: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% CourseTaxon.all.each do |taxon| %>
      <%= link_to taxon.name, filter_params(course_taxon_id: taxon.id), class: active_params(course_taxon_id: taxon.id, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
    <%= link_to new_admin_course_taxon_path, data: { tooltip: t('edu.admin.course_taxons.new.title') }, remote: true, class: 'ui mini circular icon button' do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </dd>
</dl>
