<% content_for :breadcrumb do %>
  <%= render 'breadcrumb' %>
<% end %>

<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th class="one wide"><%= Course.human_attribute_name(:type) %></th>
      <th class="two wide"><%= Course.human_attribute_name(:course_taxon_id) %></th>
      <th class="five wide">
        <%= link_to Course.human_attribute_name(:title), filter_params('title-asc': 2, except: ['title-asc']) %>
      </th>
      <th class="one wide"><%= Course.human_attribute_name(:course_students_count) %></th>
      <th class="one wide">
        <%= link_to Course.human_attribute_name(:created_at), filter_params('id-desc': 1, except: ['id-desc']) %>
      </th>
      <th class="two wide">
        <%= link_to new_admin_course_path, remote: true, class: 'ui mini primary button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.type_i18n %></td>
      <td><%= course.course_taxon&.name %></td>
      <td>
        <%= link_to course.title, admin_course_path(course) %>
        <span class="<%= active_assert(course.compulsory, expected: 'ui green label', unexpected: 'ui label') %>"><%= course.compulsory_i18n %></span>
      </td>
      <td><%= course.course_students_count %></td>
      <td><time><%= course.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to '分班', admin_course_course_crowds_path(course), class: 'ui mini circular icon button' %>
        <%= link_to admin_course_lessons_path(course), data: { tooltip: '课程内容' }, class: 'ui mini circular icon button' do %>
          <i class="list icon"></i>
        <% end %>
        <%= link_to edit_admin_course_path(course), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_course_path(course), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @courses %>
