<div class="content-breadcrumb-section">
  <%= render 'layouts/breadcrumb' %>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
  <%= render 'right_menu_table_tool' %>
</div>

<table class="ui bottom attached fixed table">
  <thead>
    <tr>
      <th class="one wide">
        <%= link_to Course.human_attribute_name(:id), filter_params('id-desc': 1, except: ['id-desc']) %>
      </th>
      <th class="one wide"><%= Course.human_attribute_name(:type) %></th>
      <th class="">
        <%= link_to Course.human_attribute_name(:title), filter_params('title-asc': 2, except: ['title-asc']) %>
      </th>
      <th class="two wide"><%= Course.human_attribute_name(:author) %></th>
      <th class="one wide"><%= Course.human_attribute_name(:limit_people) %></th>
      <th class="two wide"></th>
    </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.id %></td>
      <td><%= course.type_i18n %></td>
      <td>
        <%= link_to course.title, admin_course_path(course) %>
        <span class="<%= active_assert(course.compulsory, expected: 'ui green label', unexpected: 'ui label') %>"><%= course.compulsory_i18n %></span>
      </td>
      <td><%= course.author&.name %></td>
      <td>
        <%= course.limit_people %> / <%= course.course_students_count %>
      </td>
      <td class="ui labels">
        <%= link_to '分配学生', admin_course_course_students_path(course), class: 'ui green label' %>
        <%= link_to '课程安排', time_plans_path('Course', course.id), class: 'ui pink label' %>
        <%= link_to admin_course_lessons_path(course), data: { tooltip: '课程内容' }, class: 'ui green mini icon button' do %>
          <i class="list icon"></i>
        <% end %>
        <%= link_to edit_admin_course_path(course), data: { tooltip: t('.edit') }, class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to t('.destroy'), admin_course_path(course), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @courses %>
