<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('edu.admin.courses.index.title'), admin_courses_path, class: 'section' %>
    <i class="right angle icon divider"></i>
    <div class="active section"><%= @course.title %></div>
  </div>
<% end %>

<%= render 'nav_course' %>

<table class="ui very basic segment bottom attached large table">
  <thead>
  <tr>
    <th class="three wide"></th>
    <th>
      <%= link_to t('.edit'), edit_admin_course_path(@course), class: 'ui mini blue right floated button' %>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="right aligned">Course Category</td>
    <td><%= @course.course_taxon&.name %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Course.human_attribute_name(:title) %></td>
    <td><%= @course.title %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Course.human_attribute_name(:type) %></td>
    <td><%= @course.type_i18n %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Course.human_attribute_name(:description) %></td>
    <td><%= simple_format(@course.description) %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Course.human_attribute_name(:limit_number) %></td>
    <td><%= @course.limit_number %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Course.human_attribute_name(:teacher) %></td>
    <td><%= @course.teacher&.name %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Course.human_attribute_name(:compulsory) %></td>
    <td>
      <%= form_with model: @course, scope: :course, url: admin_course_path(@course), method: :patch, remote: true do |f| %>
        <%= f.check_box :compulsory, onChange: "Rails.fire(this.form, 'submit')", label: false, on: {wrapper_all: false, offset: false} %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="right aligned"><%= Course.human_attribute_name(:created_at) %></td>
    <td><%= @course.created_at.to_s(:rfc822) %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= Course.human_attribute_name(:updated_at) %></td>
    <td><%= @course.updated_at.to_s(:rfc822) %></td>
  </tr>
  </tbody>
</table>
