<% if params[:lesson_id] %>
  <%= render 'nav_lesson' %>
<% end %>

<div class="ui top attached borderless menu">
  <div class="header item">Train Exam Papers</div>
  <div class="right menu">
    <% LessonPaper.options_i18n(:type).each do |text, type| %>
    <div class="item">
      <%= link_to text, new_train_lesson_paper_path(type: type, lesson_id: params[:lesson_id]), class: 'ui teal button' %>
    </div>
    <% end %>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= LessonPaper.human_attribute_name(:id) %></th>
      <th>
        <p><%= LessonPaper.human_attribute_name(:title) %></p>
        <p><%= LessonPaper.human_attribute_name(:type) %></p>
      </th>
      <th><%= LessonPaper.human_attribute_name(:description) %></th>
      <th>
        <p><%= LessonPaper.human_attribute_name(:document) %></p>
        <p><%= LessonPaper.human_attribute_name(:link) %></p>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @lesson_papers.each do |lesson_paper| %>
    <tr>
      <td><%= lesson_paper.id %></td>
      <td>
        <p><%= lesson_paper.title %></p>
        <p class="ui label"><%= lesson_paper.type_i18n %></p>
      </td>
      <td><%= lesson_paper.description %></td>
      <td>
        <% if lesson_paper.link.present? %>
          <p><i class="linkify icon"></i><%= link_to lesson_paper.link.to_s.truncate(50), lesson_paper.link, target: '_blank' %></p>
        <% else %>
          <p><i class="linkify icon"></i><%= link_to 'Add', add_train_lesson_paper_path(lesson_paper), class: 'ui green label' %></p>
        <% end %>
        <p><%= link_to lesson_paper.document.filename, rails_blob_path(lesson_paper.document), target: '_blank' if lesson_paper.document.attached? %></p>
      </td>
      <td class="ui labels">
        <%= link_to 'exams', train_lesson_paper_exams_path(lesson_paper), class: 'ui blue mini icon button' %>
        <%= link_to train_lesson_paper_path(lesson_paper), class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_train_lesson_paper_path(lesson_paper), class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to train_lesson_paper_path(lesson_paper), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @lesson_papers %>